[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
autopep8 = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
django = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.13"
